<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Monitoring_Console-application">
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
        <dependent-module archiveName="jboss-client.jar" deploy-path="/" handle="module:/classpath/lib/C:/Users/Agostino Addeo/wildfly-12.0.0.Final/bin/client/jboss-client.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="Monitoring_Console-data.jar" deploy-path="/" handle="module:/resource/Monitoring_Console-data/Monitoring_Console-data">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/Monitoring_Console-application/build/classes"/>
    </wb-module>
</project-modules>
